<app-contact-details></app-contact-details>

<div class="order-summary" *ngIf="!errorMessage">
    <h2>Order Summary</h2>
    <div *ngFor="let item of orderItems" class="order-item">
      <img [src]="item.bookImage" [alt]="item.bookName" class="book-image">
      <div class="item-details">
        <h3>{{ item.bookName }}</h3>
        <p class="author">by {{ item.author }}</p>
        <p class="price">
          <span class="discount-price">₹{{ item.discountPrice }}</span>
          <span class="original-price">₹{{ item.price }}</span>
        </p>
        <p class="quantity">Quantity: {{ item.quantity }}</p>
      </div>
    </div>
    <div class="total">
      <p>Total: ₹{{ totalDiscountPrice }}</p>
    </div>
    <button class="checkout-button" (click)="checkout()">Place Order</button>
</div>
      
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>