<app-cart></app-cart>

<div class="customer-details">
    <div class="header">
      <h2>Customer Details</h2>
      <button class="add-address" >Add New Address</button>
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <label for="fullName">Full Name</label>
        <input id="fullName" type="text" value="Saurabh Shahapure">
      </div>
      <div class="input-group">
        <label for="mobileNumber">Mobile Number</label>
        <input id="mobileNumber" type="text" value="+918669109826">
      </div>
    </div>
  
    <div class="address work">
      <h3>
        <span class="number">1.</span>WORK
        <button class="edit" ><b>Edit</b></button>
      </h3>
      <div class="address-details">
        <p></p>
        <div class="form-group">
          <div class="input-group">
            <label for="workAddress" >Address</label>
            <input id="workAddress" type="text" value="Harshail Heights Link Road, Chinchwad,Pune-33">
          </div>
          
          <div class="address-group">
            <label for="workCity">City/Town</label><br>
            <input id="workCity" type="text" value="Pune">
          </div>
          <div class="State-group">
            <label for="workState">State</label><br>
            <input id="workState" type="text" value="Maharashtra">
          </div>
        </div>
      </div>
    </div>
  
    <div class="address home">
      <h3><span class="number">2.</span>Home</h3>
      <div class="address-down">
        <b>Address</b>
        <p>Harshail Heights Link Road, Chinchwad, Pune-33</p>
      </div>
    </div>
  
    <button class="continue" (click)="continue()">CONTINUE</button>
  </div>   